.arrowforward{
	color: rgb(229,9,20) !important;
}
.main{
	background-color: #141414;
}
.iq-title	{
	padding-top: 100px;
	color: white;
	font-weight: 500;
	font-size: 51px;
	line-height: 61px;

}
.iq-title-desc{
	color:#d1d0cf;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}