
.row {
	background-color: #141414;
    display: -ms-flexbox;	
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 45px;
    margin-left: 45px;

}

.footer-one {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	/* color: #bbbab9; */
	color: #d1d0cf;
	background: #191919;
}

.footer-top {  
  background-color: #141414;
  color: #bbbab9;
  font-family: 'Roboto';
  padding-top: 60px;
  padding-bottom: 60px;
} 



@media (max-width: 991px){ 
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
}

.container-fluid {
	padding: 0 100px;
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 2px;
	margin-left: 2px;
	
}

.footer-one .footer-standard .widget {
	margin: 0;
}

.footer-one .widget {
	background: transparent;
}

.widget {
	background: transparent;
	border: none;
	padding: 0;
}

.text-left {
	text-align: left!important;
}


.footer-one .footer-top .info-share li a {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 0px;
	font-size: 17px;
	border-radius: 50%;
	background: #191919;
	transition: all 0.4s ease 0s;
}

.footer-one .info-share li a {
	color: green;
}
.footer-one .footer-top .footer-standard .info-share {
	margin-bottom: 0;
	color: white;
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

footer.footer-one .footer-top {
	/* padding-top: 40px;
	padding-bottom: 40px; */
	background: #191919;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

.circle {
  stroke: #e50914;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

ul {
	list-style-type: disc;
}

li {
	text-align: -webkit-match-parent;
}

a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	}

 footer .footer-link-title {
	margin-bottom: 20px;
	margin-top: 0;
	color: white;
} 


.fa-facebook-f:before, .fa-facebook:before {
	content: "\f09a";
}
*, ::after, ::before {
	box-sizing: border-box;
}
*, ::after, ::before {
	box-sizing: border-box;
}



/* .fa-facebook:hover {  color: #e50914; }
.fa-twitter:hover {  color: #e50914; }
.fa-google-plus:hover {  color: #e50914; }
.fa-github:hover {  color: #e50914; } */


.icon-hover:hover {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 0px;
	font-size: 17px;
	border-radius: 50%;
	border:1px solid #e50914;
	box-shadow: 5px 10px #e50914;
	box-shadow: 0 0 10px #e50914;
  text-shadow: 0 0 2px #e50914;
  color: #e50914;
  transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: white !important;
    background:red;
    bottom: 30px;
    right: 25px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 90px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}