.bg-img{
    height: 165px;
    width: 290px;
    margin: 0px 0px;
   }
   

  .bg-img>img{
    height: 165px;
    width: 290px;  
    overflow: hidden; 
  }
 
  .bg-img:hover {
    transform: scale(1.06);
    position: relative;
    border-left: 5px solid red !important;
    transition-duration: 0.3s;
  }



.bg-img:hover .block-social-info{
    display: block;
  }

  .position-relative {
    position: relative!important;
}
  /* for-background-img-top-setting*/
  .slick-list {
    padding: 6px 0 ;
    margin: -100px 0 ;
  }

.latest_card_container{
    display:flex;
    margin-top: -160px;
}

  
    .block-description{
      padding-top: 25px;
      padding-left: 26px;
    }

   
  .play-button{
    background-color:red;
     border:none;
    font-size: 13px;
    letter-spacing: 1px; 
    height: 35px;
    width:120px;
   }
  
  .play-button:hover{
  background-color:rgb(230, 55, 55)  !important;
  }
  
  .iq-view-all {
    color:rgb(201, 200, 197);
    margin-top: 0px;
    padding:0px;
    text-decoration: none !important;
    transition-duration: 1s;
  }
  
  .iq-view-all:hover {
  color:red;
  }
  
  .main-title{
    color:white;
    margin-bottom: 20px;
    margin-top: 40px;
  }
 
  .main-contens-fav{
    background-color: rgb(22, 22, 22);
    
  }
  
  .favourite-contens{
    margin-left: 100px;
    margin-right: 100px;
    height: 280px;
  }

  .iq-title{
    color:rgba(255, 255, 255, 0.89);
    transition-duration: 1s;
    text-decoration: none !important;
  }
  
  .iq-title:hover{
    color:red;
    
  }
  
  
  
  .hover-button{
    padding-top: 20px;
  }
  
  
  .playicon{
    padding-right: 7px;
    width: 18px;
   }
  
  .badge-secondary {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.486);
  }

  .block-social-info{
    padding-left: 50px;
    line-height:2.2 ;
    display: none;
  }
  .list-inline{
    padding:20px;
  }
.share{
  margin-top: -4px;
}
  .share:hover .share-box{
    display: block;
   
  }
  
  .share-box{
    background-color:rgba(22, 22, 22, 0.836);
    margin-top: -40px !important;
    margin-left: -90px !important;
    width: 90px;
    height: 40px;
    display: none;
  }
 
  .share-icon{
  color:red;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 8px;
  background-color: white;
  border:5px solid rgba(190, 190, 190, 0.712);
  }
  .share-icon:hover{
    color:white;
    background-color:red;
  }
  
  
  .heart{
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .heart-icon{
  color:red;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 8px;
  background-color: white;
  border:5px solid rgba(190, 190, 190, 0.712);
  }
  .heart-icon:hover{
    color:white;
    background-color: red;
  }
  
  .plus{
    margin-top: 5px;
    padding-top: 5px;
  }
  .plus-icon{
    color:red;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom:2px;
  padding: 4px 8px;
  background-color: white;
  border:5px solid rgba(190, 190, 190, 0.712);
    }
    
    .plus-icon:hover{
      color:white;
      background-color: red;
    }
  
  
  .count-box{
    font-size: 8px;
    position: absolute;
    border-radius: 50%;
    background: red;
    color: white;
    right: 20px;
    
  }



  .slick-track{
    /* display: flex !important; */
    height: 200px !important ;
    
  }


 /*set space between slides */
  .slick-slide {
      margin: 0 8px;
    }
  .slick-list {
      margin: 0 -8px;
      /* sliderler arasinda sorun gidermek icin :view all tiklanmak icin, */
      height: 200px !important;
      
  }


  .slick-prev {
     left:-3px;
     position: absolute;
     top: 95px;
     z-index: 3;
  } 
 
  .slick-next {
  right:-3px;
  top: 95px;
  z-index: 3;
 }

  .vsc{
    color:white;
    transition-duration: 0.5s;
  }
  .vsc:hover{
    color:red;
  }
  
  .ri{
    color:white;
    transition-duration: 0.5s;
  } 
  .ri:hover{
    color:red;
  }
  
  .share-ico{
    margin:5px;
  }

 
