.sign-in-page-data {
    border-radius: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

